.page-container {
    width: 100%; 
    padding: 10px;
}
.dropdown-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search{
    position: relative; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 100%;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
}

.search .arrow{
    position: absolute;
    right: 4px;
    top: 25px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
}

.single{
    flex: 1 1 100%;
}
.single-input{
    width: 97%;
    flex: 1 1 100%;
    padding: 12px;
    margin-left: 12px;
    outline: none;
}
.single p{
    text-align: center;
}
.single-input.hide{
    display: none;
}
.single-input.show{
    display: block;
}

.search-input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    flex: 1 0 50%;
    padding: 12px;
    font-size: 1em;
}

.dropdown{
    width: 100%;
    padding: 12px 0 0 12px;
    /* display: none; */
}

.group{
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 0;
}

.group p{
    margin: 0;
    color: #fff;
    text-align: center;
}

.option{
    padding: 12px 0 12px 12px;
}

.option:hover{
    background: rgba(0, 0, 0, 0.1);
}